.button-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    width: 400px;
}

.scrollbar-all {
    font-family: var(--second-font);
    height: 360px;
    max-width: 400px;
    overflow: auto;
    border: none;
    margin-bottom: 100px;
}

.scrollbar-all::-webkit-scrollbar {
    width: 8px;
}

.scrollbar-all::-webkit-scrollbar-track {
    background: none;
}

.scrollbar-all::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
    border-radius: 20px;
    border: 3px solid var(--text-color);
}


@media screen and (max-width: 990px) {
    .button-header {
        width: 320px;
    }

    .scrollbar-all {
        margin-bottom: 20px;
        height: 215px;
    }
}