.loader-border {
    border-radius: 50% ;
    border: 2px solid var(--background-color);
    width: 374px;
    height: 374px;
    box-shadow: 1px 1px 2px 1px var(--background-color);
    background-color: var(--logo-background);
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-img {
    max-width: 374px;
    max-height: 374px;
    border-radius: 50%;
}
