.form-succes-message {
    font-family: var(--main-font);
    color: var(--text-color-succes);
    font-size: var(--text-size-succes);
    text-align: center;
    font-weight: 500;
}

.form-succes-container {
    width: 400px;
}

@media screen and (max-width: 990px) {
    .form-succes-container {
        width: 300px;
    }
}