
.name-and-ingredient-container {
    width: var(--desktop-container-width);
    height: 500px;
}

@media screen and (max-width: 990px){

    .name-and-ingredient-container {
        height: 325px;
    }

    .help-container{
        padding-left: 40px;
    }
}

