.error-message{
    font-family: var(--main-font);
    color: var(--text-color-error);
    font-size: 24px;
    text-align: center;
    font-weight: 500;
}
.error-container{
    width: 400px;

}

@media screen and (max-width: 990px){
    .error-container{
        width: 300px;
    }
}