.error-message {
    font-family: var(--main-font);
    color: var(--text-color-error);
    font-size: var(--text-size-error);
    text-align: center;
    font-weight: var(--text-weight-error);
}

.error-container {
    width: var(--desktop-container-width);
}

@media screen and (max-width: 990px) {
    .error-container {
        width: var(--mobile-container-width);
    }
}