article {

    padding-top: 80px;
    font-family: var(--second-font);
}

.help-img{
    max-width: 200px;
    max-height: 200px;
    border-radius: var(--border-radius-round);
}

.leftalign {
    left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rightalign {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

@media screen and (max-width: 990px){
    .help-img{
        max-width: 150px;
        max-height: 150px;
    }
}