.help-field {
    margin-left: -20px;
    position: fixed;
    width: var(--desktop-container-width);
    height: 258px;
    background-color: var(--help-field-color);
    border-radius: 10px;
    box-shadow: var(--button-shadow);
    padding: 20px;
    font-family: var(--second-font);
    font-weight: var(var(--main-text-weight));
    font-size: var(--help-field-text-size);
}

.help-field p {
    color: var(--text-color-second);
}

.cross {
    position: absolute;
    font-weight: var(--help-field-text-weight);
    top: 10px;
    right: 10px;
}

@media screen and (max-width: 990px) {
    .help-field {
        margin-left: -10px;
        width: var(--mobile-container-width);
    }
}
