.nextbackbutton {
    background-color: var(--button-color);
    color: var(--text-color);
    border: var(--button-border-pixel-color);
    border-radius: var(--button-border-radius);
    width: var(--next-back-button-width);
    height: var(--next-back-button-height);
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    font-family: var(--main-font);
    margin-bottom: var(--button-margin-bottom);
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: var(--button-shadow);
}

.nextbackbutton:disabled {
    color: var(--text-color-disabled);
    background-color: var(--text-color-disabled);
    border-color: var(--text-color-disabled);
}

.nextbackbutton:hover {
    background-color: var(--button-border-color);
}

.nextbackicon {
    max-width: 30px;
    max-height: 30px;
}