.nextbackbutton{
    background-color: var(--button-color);
    color: var(--text-color);
    border: 1px solid var(--button-border-color);
    border-radius: var(--button-border-radius);
    width: 45px;
    height: 45px;
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    font-family: var(--main-font);
    margin-bottom: 45px;
    box-shadow: var(--button-shadow);
}

.nextbackbutton:disabled {
    color: var(--text-color-disabled);
}

.nextbackbutton:hover {
    background-color: var(--button-border-color);
}

.nextbackicon {
    max-width: 30px;
    max-height: 30px;
}