.profile-info {
    height: 640px;
    width: var(--desktop-container-width);
}

@media screen and (max-width: 990px){
    .profile-info {
        width: var(--mobile-container-width-big);
        height: 420px;
    }
}

h3{
    font-family: var(--main-font);
    color: var(--text-color);
}