.instruction-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instruction-view {
    font-family: var(--second-font);
    line-height: var(--second-font-line-height);
    margin: 10px 0 40px 0;
    width: 250px;
    text-align: center;
}

.instruction-view ,b{
    color: var(--text-color);
    font-family: var(--second-font);
}

.header {
    font-family: var(--main-font);
    font-weight: var(--main-text-weight);
    text-decoration: underline;
}