.cocktailcard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: var(--desktop-container-width);
}

.ingredient-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ingredient-scrollbar {
    max-height: 380px;
    max-width: var(--desktop-container-width);
    overflow: auto;
    border: none;
}

.ingredient-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.ingredient-scrollbar::-webkit-scrollbar-track {
    background: none;
}

.ingredient-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
    border-radius: 20px;
    border: 3px solid var(--text-color);
}

.header {
    font-family: var(--main-font);
    font-weight: var(--main-text-weight);
    text-decoration: underline;
}

@media screen and (max-width: 990px){
    .ingredient-container{
        width: 280px;
    }
    .ingredient-scrollbar{
        max-height: 300px;
    }

}