.header-container{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    width: 400px;

}

.cocktailIMG {
    border-radius: 50% ;
    border: 2px solid var(--background-color);
    max-width: 200px;
    max-height: 200px;
    box-shadow: 5px 4px 9px 2px var(--background-color);
}