.header-container {
    display: flex;
    justify-content: center;
    width: var(--desktop-container-width);
    padding-bottom: 20px;
}

.cocktailIMG {
    border-radius: var(--border-radius-round);
    border: 2px solid var(--background-color);
    max-width: 374px;
    max-height: 374px;
    box-shadow: 5px 4px 9px 2px var(--background-color);
}

@media screen and (max-width: 990px) {
    .cocktailIMG {
        max-width: 241px;
        max-height: 241px;
    }
}