.pagina {
    padding-top: 80px;
    width: 100%;
    height: 500px;
}

.welcomepage {
    width: 100%;
    display: flex;

}
.welcomeLeft {
    width: 50%;
    height: 100%;
}

.welcomeright {
    width: 50%;
    height: 100%;
}

.imggroote {
    max-width: 120%;
    max-height: 120%;
    border-radius: 50%;
}


Link{
    text-decoration: none;
    color: red;
}

.overflow-list{
    overflow: scroll;
    color: white;
    padding: 15px;
    width: 350px;
    height: 400px;
    background-color: transparent;

}