.helpbutton {
    height: var(--help-button-width);
    width: var(--help-button-height);
    border-radius: var(--border-radius-round);
    border: none;
    background-color: var(--help-field-color);
    box-shadow: 2px 2px 3px 1px var(--background-color);
    color: var(--text-color-second);
    font-size: var(--help-button-font-size);
    font-family: var(--main-font);
    font-weight: var(--button-font-weight);
    position: relative;
    left: 400px;
    top: -10px;
}

.helpbutton:hover {
    background-color: var(--help-field-border-color);
}

@media screen and (max-width: 990px) {
    .helpbutton {
        left: 300px;
    }
}