.cocktailcardLogo{
    border-radius: var(--border-radius-round); ;
    border: 2px solid var(--background-color);
    max-width: var(--logo-width-desktop);
    max-height: var(--logo-height-desktop);
    box-shadow: 5px 4px 9px 2px var(--background-color);
}

@media screen and (max-width: 990px){
    .cocktailcardLogo {
        max-width: var(--logo-width-mobile);
        max-height: var(--logo-height-mobile);
    }
}