@import "NavbarIcon.css";

nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: var(--nav-color);
    box-shadow: 2px 2px 3px 1px #ccc;
}

.navlist {
    height: 100%;
    list-style-type: none;
    background-color: var(--nav-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;

}

.navitems {
    margin-right: 20px;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
    font-family: 'Quicksand', sans-serif;
}

@media screen and (max-width: 500px ) {
    .navlist {
        flex-direction: column;
        height: auto;
    }

    .navitems:nth-child(1) {
        border-top: 2px solid var(--nav-line);
        margin-top: 50px;
    }

    .navitems {
        width: 100%;
        border-top: 2px solid var(--nav-line);
        text-align: center;
        margin-right: 0px;
        padding: 15px;
    }

    .menu-icon-container {
        display: block;
    }
}

