@import "icons/NavbarIcon.css";

nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: var(--nav-color);
    box-shadow: 2px 2px 3px 1px #ccc;
}

.navlist {
    height: 100%;
    list-style-type: none;
    background-color: var(--nav-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.navitems {
    margin-right: 20px;
    font-size: var(--nav-font-size);
    font-weight: var(--nav-font-weight);
    color: var(--text-color);
    font-family: 'Quicksand', sans-serif;
}

.inactive {
    color: white;
    text-decoration: none;
}

.active-link {
    border-bottom: 2px solid var(--nav-line);
    transition: 0.5s ease-in;
}

img {
    max-width: 20px;
    max-height: 20px;
    padding-right: 5px;
}

@media screen and (max-width: 990px ) {
    .navlist {
        flex-direction: column;
        height: auto;
        box-shadow: 2px 2px 3px 1px #ccc;
    }

    .navitems:nth-child(1) {
        border-top: 2px solid var(--nav-line);
        margin-top: 50px;
    }

    .navitems {
        width: 100%;
        border-top: 2px solid var(--nav-line);
        text-align: center;
        margin-right: 0px;
        padding: 15px;
    }

    .menu-icon-container {
        display: block;
    }

    .nav-menu-icon-cross {
        display: block;
    }
}





