.button-container {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

@media screen and (max-width: 990px){
    .button-container {
        padding-top: 20px;
    }
}
