.ingredient-view {
    font-family: var(--second-font);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    margin: 20px;
}

.ingredient-view p {
    padding-top: 10px;
    max-width: 100px;
    text-align: center;
}

.ingredient-img {
    max-width: 100px;
    max-height: 100px;
}

@media screen and (max-width: 990px){
    .ingredient-view {
        display: flex;
        flex-direction: column;
    }
    .ingredient-img {
        max-width: 80px;
        max-height: 80px;
    }
}