.searchButton {
    background-color: var(--button-color);
    color: var(--text-color);
    border: 1px solid var(--button-border-color);
    border-radius: var(--button-border-radius);
    width: var(--button-width);
    height: var(--button-height);
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    font-family: var(--main-font);
    margin-bottom: 45px;
    box-shadow: var(--button-shadow);
}

.searchButton:disabled {
    color: var(--text-color-disabled);
}

.searchButton:hover {
    background-color: var(--button-border-color);
}

@media screen and (max-width: 990px){
    .searchButton {
        width: var(--button-width-mobile);
    }
}