.loader-border {
    border-radius: var(--border-radius-round);
    border: 2px solid var(--background-color);
    width: var(--logo-width-desktop);
    height: var(--logo-height-desktop);
    box-shadow: 1px 1px 2px 1px var(--background-color);
    background-color: var(--logo-background);
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-img {
    max-width: var(--logo-width-desktop);
    max-height: var(--logo-height-desktop);
    border-radius: var(--border-radius-round);
}

@media screen and (max-width: 990px){

    .loader-border{
        width: var(--logo-width-mobile);
        height: var(--logo-height-mobile);
    }

    .loader-img{
        max-width: 241px;
        max-height: 241px;
    }
}