h1 {
    color: var(--text-color);
    font-family: var(--main-font);
}

.link {
    text-decoration: none;
}

.error {
    font-family: var(--main-font);
    color: var(--text-color-error);
    font-size: 24px;
    text-align: center;
    font-weight: 500;
}

.fullpage-container {
    padding-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    min-height: 80vh;
    overflow: hidden;
}

.left-section-container {
    display: flex;
    justify-content: center;
    width: 50%;
}

.right-section-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.right-box-container {
    padding-top: 60px;
}

.CocktailCard-container {
    padding-top: 100px;
}

.scrollbar {
    padding-top: 20px;
    font-family: var(--second-font);
    max-height: 450px;
    max-width: 400px;
    overflow: auto;
    border: none;
    margin-bottom: 100px;
}

.scrollbar::-webkit-scrollbar {
    width: 8px;
}

.scrollbar::-webkit-scrollbar-track {
    background: none;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
    border-radius: 20px;
    border: 3px solid var(--text-color);
}

.list-title {
    width: 400px;
    text-align: center;
}

.cocktaillist {
    font-family: var(--second-font);
    height: 648px;
}

/*MOBILE RESPONSIVE*/
@media screen and (max-width: 990px) {
    .fullpage-container {
        display: flex;
        flex-direction: column;
    }

    .left-section-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 260px;
    }

    .right-section-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .right-box-container {
        padding-top: 0px;
    }

    .CocktailCard-container {
        padding-top: 20px;
    }

    .scrollbar {
        max-height: 220px;
    }

    .list-title {
        width: 340px;
    }

    .cocktaillist {
        height: 420px;
    }
}
