@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --nav-color: hsl(161, 77%, 41%);
    --nav-line: hsl(216, 36%, 41%);
    --button-color: hsl(161, 77%, 41%);
    --button-border-color: hsl(170, 77%, 34%);
    --background-color: hsl(189, 79%, 28%);
    --help-field-color: hsl(66, 75%, 81%);
    --text-color: hsl(0, 0%, 100%);
    --text-color-help-field: hsl(0, 0%, 0%);
    --text-color-disabled: hsl(111, 0%, 69%);
    --text-color-error: hsl(3, 88%, 56%);
    --icon-color: hsl(0, 0%, 100%);
    --main-font: Quicksand;
    --nav-font-size: 16px;
    --nav-font-weight: 500;
    --button-font-size: 16px;
    --button-font-weight: 500;
}

body {
}

code {
}
