@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --nav-color: hsl(161, 77%, 41%);
    --nav-line: hsl(216, 36%, 41%);
    --background-color: hsl(189, 79%, 28%);
    --main-font: Quicksand;
    --second-font:'Mukta', sans-serif;
    --second-font-line-height: 20px;
    --help-field-color: hsl(66, 75%, 81%);
    --help-field-border-color: hsl(56, 48%, 59%);
    --help-field-text-size: 16px;
    --help-field-text-weight: 700;
    --text-color: hsl(0, 0%, 100%);
    --text-color-second: hsl(0, 0%, 0%);
    --text-color-help-field: hsl(0, 0%, 0%);
    --text-color-disabled: hsl(111, 0%, 69%);
    --text-color-error: hsl(9, 89%, 59%);
    --text-size-error: 24px;
    --text-color-succes:hsl(156, 71%, 45%);
    --text-size-succes: 24px;
    --text-loading-color:hsl(66, 75%, 81%);
    --icon-color: hsl(0, 0%, 100%);
    --nav-font-size: 16px;
    --nav-font-weight: 500;
    --button-color: hsl(161, 77%, 41%);
    --button-border-color: hsl(170, 77%, 34%);
    --button-font-size: 16px;
    --button-font-weight: 500;
    --button-width: 400px;
    --button-height: 45px;
    --button-width-mobile: 325px;
    --button-border-radius:10px;
    --button-shadow: 2px 2px 3px 1px var(--background-color);
    --logo-background: hsl(190, 78%, 68%);
    --logo-color: hsl(0, 0%, 0%);
    --logo-height-desktop: 374px;
    --logo-width-desktop: 374px;
    --logo-height-mobile: 241px;
    --logo-width-mobile: 241px;
    --link-font-size: 20px;
}

body {
    background-image: url("/src/Assets/BackgroundImg/background-desktop-bleu.png");
    background-blend-mode: multiply;
    position: relative;
}
