@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --nav-color:hsl(161, 77%, 41%);
  --button-color:hsl(161, 77%, 41%);
  --background-color:hsl(189, 79%, 28%);
  --help-field-color:hsl(66, 75%, 81%);
  --text-color: hsl(0, 0%, 100%);
  --test-color-help-field: hsl(0, 0%, 0%);
  --text-color-error: hsl(3, 88%, 56%);
  --icon-color: hsl(0, 0%, 100%);
}

body {
}

code {
}
