input{
    width: var(--button-width);
    height: var(--button-height);
    border-radius: var(--button-border-radius);
    border: var(--button-border-pixel-color);
    text-align: center;
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    font-family: var(--main-font);
    margin-bottom: var(--button-margin-bottom);
}

@media screen and (max-width: 990px){
    input {
        width: var(--button-width-mobile);
    }
}